.feature {
  height: 16%;
  &__img {
    img {
      width: 100%;
    }
    &--half1 {
      width: 60% !important;
      transform: translate(35%, -125%);
    }
    &--half2 {
      width: 50% !important;
      transform: translate(110%, -290%);
    }
  }
  &__info {
    background-color: #f9f7f6;
    padding: 7rem;
    height: 32.5%;
    h1 {
      font-size: 1.6rem;
      color: $color-primary-dark;
    }
    h2 {
      font-size: 3rem;
      letter-spacing: 0.5rem;
    }
    p {
      font-size: 1.6rem;
      line-height: 1.6;
      font-style: italic;
    }
  }
}
