.footer {
  background-color: #131d2b;
  padding: 10rem;
  color: rgba(255, 255, 255, 0.644);
  &__top {
    padding-bottom: 3rem;
    h1 {
      width: 70%;
      text-align: center;
      letter-spacing: 0.2rem;
      color: white;
      font-weight: 100;
    }
  }
  &__bottom {
    padding: 0 20rem;
    text-align: center;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    p {
      text-align: center;
      line-height: 1.7;
    }
  }
}
